<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>IMAPMailboxAttributes</key>
		<integer>17</integer>
		<key>MailboxAllCriteriaMustBeSatisfied</key>
		<true/>
		<key>MailboxChildren</key>
		<array/>
		<key>MailboxCriteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>489b8c24-5d7e-4751-9fb0-55c327da3f58</string>
				<key>Header</key>
				<string>NotInTrashMailbox</string>
				<key>Name</key>
				<string>omit trash</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>dfe60545-a5be-48ed-b39a-c764273fe2d2</string>
				<key>Header</key>
				<string>NotInASpecialMailbox</string>
				<key>Name</key>
				<string>omit sent</string>
				<key>SpecialMailboxType</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>AllCriteriaMustBeSatisfied</key>
				<true/>
				<key>Criteria</key>
				<array>
					<dict>
						<key>AllCriteriaMustBeSatisfied</key>
						<true/>
						<key>Criteria</key>
						<array>
							<dict>
								<key>CriterionUniqueId</key>
								<string>b308aa7a-9239-4886-afbb-73af50840d96</string>
								<key>DateIsRelative</key>
								<true/>
								<key>DateUnitType</key>
								<integer>1</integer>
								<key>Expression</key>
								<string>-1</string>
								<key>Header</key>
								<string>DateLastViewed</string>
								<key>Qualifier</key>
								<string>IsGreaterThan</string>
							</dict>
							<dict>
								<key>CriterionUniqueId</key>
								<string>6355b0fc-7ce2-4aad-bf80-5ababa134107</string>
								<key>DateIsRelative</key>
								<true/>
								<key>DateUnitType</key>
								<integer>1</integer>
								<key>Expression</key>
								<string>1</string>
								<key>Header</key>
								<string>DateLastViewed</string>
								<key>Qualifier</key>
								<string>IsLessThan</string>
							</dict>
						</array>
						<key>CriterionUniqueId</key>
						<string>7d787b68-a7b2-47d5-bebc-b1a4ad4eab3c</string>
						<key>Header</key>
						<string>Compound</string>
						<key>Name</key>
						<string>today</string>
					</dict>
				</array>
				<key>CriterionUniqueId</key>
				<string>afd6b13e-c9b3-4a55-8e36-a61f21c19276</string>
				<key>Header</key>
				<string>Compound</string>
				<key>Name</key>
				<string>user criteria</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>388a2e77-ae9a-4e9d-afa0-27f78f587eeb</string>
				<key>Header</key>
				<string>NotInJunkMailbox</string>
				<key>Name</key>
				<string>omit junk</string>
			</dict>
		</array>
		<key>MailboxID</key>
		<string>d58006cb-eaef-4101-82a7-c161382eb1d0</string>
		<key>MailboxName</key>
		<string>今天</string>
		<key>MailboxType</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>IMAPMailboxAttributes</key>
		<integer>17</integer>
		<key>MailboxAllCriteriaMustBeSatisfied</key>
		<true/>
		<key>MailboxChildren</key>
		<array/>
		<key>MailboxCriteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>C6EDDBA5-269B-4B8D-82A8-0E9DB61E7553</string>
				<key>Header</key>
				<string>NotInTrashMailbox</string>
				<key>Name</key>
				<string>omit trash</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>6B433C85-7578-4B35-A3D4-187E5FBA93B5</string>
				<key>Header</key>
				<string>NotInASpecialMailbox</string>
				<key>Name</key>
				<string>omit sent</string>
				<key>SpecialMailboxType</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>AllCriteriaMustBeSatisfied</key>
				<true/>
				<key>Criteria</key>
				<array>
					<dict>
						<key>CriterionUniqueId</key>
						<string>6554B26A-798D-48D7-923A-F8BD5499CF78</string>
						<key>Expression</key>
						<string>[日会][公有云前端组]</string>
						<key>Header</key>
						<string>subject</string>
					</dict>
				</array>
				<key>CriterionUniqueId</key>
				<string>4854828F-D171-4CE9-A642-E43FD8B77AF1</string>
				<key>Header</key>
				<string>Compound</string>
				<key>Name</key>
				<string>user criteria</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>42713867-09E2-4E26-9C98-6DC2F3DAEF36</string>
				<key>Header</key>
				<string>NotInJunkMailbox</string>
				<key>Name</key>
				<string>omit junk</string>
			</dict>
		</array>
		<key>MailboxID</key>
		<string>4D81D87F-4B55-4015-99C0-72EC389C0A30</string>
		<key>MailboxName</key>
		<string>日会</string>
		<key>MailboxType</key>
		<integer>19</integer>
	</dict>
</array>
</plist>
