<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rules</key>
	<array>
		<dict>
			<key>Active</key>
			<true/>
			<key>ActiveSyncState</key>
			<integer>1</integer>
			<key>AllCriteriaMustBeSatisfied</key>
			<true/>
			<key>AutoResponseType</key>
			<integer>0</integer>
			<key>Criteria</key>
			<array>
				<dict>
					<key>CriterionUniqueId</key>
					<string>FC374796-53A3-4829-AFEA-F0A9F67DFCDB</string>
					<key>Expression</key>
					<string>待审批</string>
					<key>Header</key>
					<string>Subject</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>23A37B17-9A16-4880-9999-397EC58F6BCC</string>
					<key>Expression</key>
					<string>jd-oa@jd.com</string>
					<key>Header</key>
					<string>From</string>
					<key>Qualifier</key>
					<string>IsEqualTo</string>
				</dict>
			</array>
			<key>Deletes</key>
			<true/>
			<key>HighlightTextUsingColor</key>
			<false/>
			<key>MarkFlagged</key>
			<false/>
			<key>MarkRead</key>
			<false/>
			<key>NotifyUser</key>
			<false/>
			<key>RuleId</key>
			<string>E793F328-999D-4C25-B011-3ED9DD134FE6</string>
			<key>RuleName</key>
			<string>审批用京ME-oa</string>
			<key>SendNotification</key>
			<false/>
			<key>ShouldCopyMessage</key>
			<false/>
			<key>ShouldSelectNextMessage</key>
			<string>YES</string>
			<key>ShouldTransferMessage</key>
			<false/>
			<key>TimeStamp</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>ActiveSyncState</key>
			<integer>1</integer>
			<key>AllCriteriaMustBeSatisfied</key>
			<true/>
			<key>AutoResponseType</key>
			<integer>0</integer>
			<key>Criteria</key>
			<array>
				<dict>
					<key>CriterionUniqueId</key>
					<string>2C57D8C6-4643-4591-9215-923A1C31DF06</string>
					<key>Expression</key>
					<string>审批通知</string>
					<key>Header</key>
					<string>Subject</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>E7B5C30E-E1F6-4A65-9ACA-05EEF5383F4B</string>
					<key>Expression</key>
					<string>上线流程</string>
					<key>Header</key>
					<string>Subject</string>
				</dict>
			</array>
			<key>Deletes</key>
			<true/>
			<key>HighlightTextUsingColor</key>
			<false/>
			<key>MarkFlagged</key>
			<false/>
			<key>MarkRead</key>
			<false/>
			<key>NotifyUser</key>
			<false/>
			<key>RuleId</key>
			<string>A63B4336-8ADA-4F01-A460-9D68146D7F1E</string>
			<key>RuleName</key>
			<string>审批用京ME-ark</string>
			<key>SendNotification</key>
			<false/>
			<key>ShouldCopyMessage</key>
			<false/>
			<key>ShouldSelectNextMessage</key>
			<string>YES</string>
			<key>ShouldTransferMessage</key>
			<false/>
			<key>TimeStamp</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>9</integer>
</dict>
</plist>
