<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rules</key>
	<array>
		<dict>
			<key>AllCriteriaMustBeSatisfied</key>
			<false/>
			<key>AutoResponseType</key>
			<integer>0</integer>
			<key>Color</key>
			<integer>9158119</integer>
			<key>Criteria</key>
			<array>
				<dict>
					<key>CriterionUniqueId</key>
					<string>D2A23E98-8172-4F89-A66F-0C0AA0D628E5</string>
					<key>Expression</key>
					<string>noreply@me.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>C5CEB2A6-35D8-4153-8FF3-CDFD4D521A09</string>
					<key>Expression</key>
					<string>@apple-asia.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>A0C04E84-0B5F-495D-8996-F938391AC50B</string>
					<key>Expression</key>
					<string>@euromailer.lists.apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>6600E056-B8D6-4810-8DBD-EFF16FC39AF6</string>
					<key>Expression</key>
					<string>@news.apple.co.jp</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>5930CC3D-A63E-445A-A7C2-CD3F1811AEBA</string>
					<key>Expression</key>
					<string>@applenews.lists.apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>67A2FEBA-CBE2-4310-8009-7C62B1653BD1</string>
					<key>Expression</key>
					<string>@enews.apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>5878EC2A-5655-4FC8-BBBA-4228A6B71053</string>
					<key>Expression</key>
					<string>@music-store.apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>762176FD-DCDD-4AD5-B87B-67068ED62A08</string>
					<key>Expression</key>
					<string>@insideapple.apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>2B02E3C9-833E-4F21-A3E4-8B4EB70B8ABF</string>
					<key>Expression</key>
					<string>@lists.seminars.apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>5D274164-A199-4806-97A9-9A58C24B58C1</string>
					<key>Expression</key>
					<string>asp_events@apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>B526E0E7-6830-4ADE-B83B-C49BAB9E96E9</string>
					<key>Expression</key>
					<string>events@apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>D5791865-3950-4C30-881B-AF0F4ABD9816</string>
					<key>Expression</key>
					<string>welcome@odn.ad.jp</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>7C91389D-74D4-4519-9D49-B00153FA873C</string>
					<key>Expression</key>
					<string>noreply@adc.apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>98BB3A93-DD76-400A-8A96-8DAAAEA42838</string>
					<key>Expression</key>
					<string>imacresearch@apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>E0782368-EFDA-43B6-9B90-BF194F2CE1DA</string>
					<key>Expression</key>
					<string>news@insideapple.apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>84770D0A-0A2C-45DE-8097-CC480E8986A5</string>
					<key>Expression</key>
					<string>asto-program@apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>2B9C0B67-E977-4F9E-9A37-52A77CF3DA4E</string>
					<key>Expression</key>
					<string>discover@newmusic.apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>7F350DD4-38E5-40FA-9959-B2ABF728DEC8</string>
					<key>Expression</key>
					<string>itunesresearch@apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>3B515434-414D-47B9-B09E-D2DD69E6F75A</string>
					<key>Expression</key>
					<string>storeresearch@apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>B57C03C4-8F9A-43BF-B1D4-0B86FEC4F850</string>
					<key>Expression</key>
					<string>@new-music.itunes.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
				<dict>
					<key>CriterionUniqueId</key>
					<string>10B443F8-9E8D-4786-94A6-3C96A28463F6</string>
					<key>Expression</key>
					<string>compliance@apple.com</string>
					<key>Header</key>
					<string>From</string>
				</dict>
			</array>
			<key>Deletes</key>
			<false/>
			<key>HighlightTextUsingColor</key>
			<false/>
			<key>MarkFlagged</key>
			<false/>
			<key>MarkRead</key>
			<false/>
			<key>NotifyUser</key>
			<false/>
			<key>RuleId</key>
			<string>EDDDB2FA-E2FD-4077-A84B-506101C70E71</string>
			<key>RuleName</key>
			<string>Apple 新闻</string>
			<key>SendNotification</key>
			<false/>
			<key>ShouldCopyMessage</key>
			<false/>
			<key>ShouldTransferMessage</key>
			<false/>
			<key>StopEvaluatingRules</key>
			<true/>
			<key>TimeStamp</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
